.divGrande {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select {
    padding: 10px;
    margin: 5px;
    font-style: italic;
}

.label {
    padding: 10px;
    margin: 5px;
    font-family: monospace;
    font-weight: bolder;
}